/* Add CSS Styling */
.common {
    background-color: rgb(255,192,203);
    font-family: "Verdana", "DejaVu", "Sans", sans-serif;
}

.common.unique {
    font-size: 24px;
}

#num2 {
    color: #0000ff;
    font-size: 36px;
}

#num4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}